$namespace: "aoyou-dropdownmenu" !default;

.#{$namespace}{
	display: inline-block;
	margin: 0px;
	padding: 0px;
    padding-bottom: 10px;
	li{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.#{$namespace}_firstchild {
		z-index: 10;
		position: relative;
		display: block;
        top:-1px;
		.#{$namespace}-mainicon{
			width: 22px;
			height: 22px;
			line-height: 22px;
			display: inline-block;
		}
		.#{$namespace}-circle{
			color:#fff;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 12px;
			top: -15px;
			font-size: 12px;
			text-align: center;
			line-height: 20px;
			background: url("../../src/images/menutopicons.png") 0px 0px no-repeat;
		}
		.#{$namespace}-mainicon-user{
			background: url("../../src/images/menutopicons.png") 0px -74px no-repeat;
		}
		.#{$namespace}-mainicon-mail{
			background: url("../../src/images/menutopicons.png") 0px -40px no-repeat;
		}
		.#{$namespace}-updown-down{
			border-top: 4px dashed #fff;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			display: inline-block;
			width: 0px;
			height: 0px;
			margin-left: 20px;
			margin-top: -20px;
			vertical-align: middle;
		}
		.#{$namespace}-updown-up{
			border-bottom: 4px dashed #fff;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			display: inline-block;
			width: 0px;
			height: 0px;
			margin-left: 20px;
			margin-top: -20px;
			vertical-align: middle;
		}
		.#{$namespace}_ul{
			background-color: #F7F7F7;
			width: 110px;
			position: absolute;
			top:28px;
			right: 0px;
			margin: 2px 0px 0px;
			padding:0px;
			text-align: left;
			border: 1px solid rgba(0, 0, 0, 0.15);
			.aoyou-dropdown_bor-b{
				border-bottom: 1px solid #C8D1D4;
			}
			li{
				position: relative;
				display: block;
				a{
					padding: 0px 0px 0px 5px;
					color: #717D87;
					display: block;
					text-decoration: none;
					font-size: 12px;
					font-family: "Microsoft YaHei";
					color: rgb(113, 125, 135);
					line-height: 3.333;
					.icon-fx{
						width: 22px;
						height: 17px;
						display: inline-block;
						margin-right: 10px;
						&.key{
							background: url("../../src/images/menudropdownicons.jpg") 0px -21px no-repeat;
						}
						&.logout{
							background: url("../../src/images/menudropdownicons.jpg") 0px -42px no-repeat;
						}
						&.mail{
							background: url("../../src/images/menudropdownicons.jpg") 0px 2px no-repeat;
						}
					}
					.icon-num{
						width: 18px;
						height: 18px;
						position: absolute;
						top: 13px;
						right: 5px;
						color: red;
						text-align: center;
						line-height: 18px;
					}
				}
			}
			li:hover{
				background-color: #eee;
			}
		}

	}
}