<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="avalon.slider.css">
    <script src="../../avalon.js"></script>
    <script>
        avalon.library("aoyou", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        });
        require(["./component/slider/avalon.slider"], function () {
            var vm = avalon.define({
                $id: "test",
                value:0,
                percent:"0",
                $valueMin:"0",
                $valueMax:"100",

                $gropt1:{
                    $valueMin:'0',
                    $valueMax:'100',
                    step:10,
                    onDrag:function (o,data) {
                        vm.value = o.value;
                        vm.percent = o.percent;
                        vm.$valueMin = o.$valueMin;
                        vm.$valueMax = o.$valueMax;
                    }
                }
            });
            avalon.scan()
        })
    </script>
</head>
<body ms-controller="test">
<aoyou:slider config="$gropt1"></aoyou:slider>
值为{{value}}，百分比为{{percent}}%; min为{{$valueMin}}, max为{{$valueMax}}


<div style="color:#868686;margin-top: 20px">
    step=10
</div>
</body>
</html>