$uiname: "aoyou-dialog";
.aoyou-dialog-layout{
  background: #000;
  opacity: .8;
}
.#{$uiname} {
  .#{$uiname}-inner {
    box-shadow: 0;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;

    .#{$uiname}-close{
      display: inline;
      float: right;
      cursor: pointer;
      color: #666666;
      margin-top:9px;
      padding: 1px 24px 1px 9px;

      .#{$uiname}-icon{
        display: block;
        cursor: pointer;
        background: url("../../src/images/icons.png") 0px -2px no-repeat;
        width: 13px;
        height: 13px;
      }
      .#{$uiname}-icon:hover{
        border-right: 0;
      }
    }
    .#{$uiname}-title{
      padding: 7px 10px;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      margin: 7px 10px;
      color: #149AF1;
      text-indent: 10px;

      .#{$uiname}-tip{
        width: 5px;
        height: 15px;
        float: left;
        background: #288d41;
        margin-top: 2px;
        display: none;
      }
    }
    .#{$uiname}-content{
      font-size: 14px;
      padding: 0 20px;
      .conlink{
        position: relative;
        height: 80px;
        background: #fff;
        border: 1px solid #beccc2;
        margin: 0 10px;
        border-bottom: 0;
        img{
          position: absolute;
          left: 10px;
          top: 8px;
        }
        span{
          display: inline-block;
          left: 62px;
          position: absolute;
          width: 200px;
          top: 8px;
          line-height: 20px;
        }
        p{
          text-align: center;
          img{
            margin-left: 100px;
            margin-top: 50px;
          }
        }
      }
    }
    .#{$uiname}-footer{
      padding: 8px 5px;
      background-color: #f8f8f8;
      .#{$uiname}-btns{
        display: inline;
        font-size: 0;
        margin-left: 35%;
        .aoyou-button{
          margin-left: 10px;
        }
      }
      .btnlink{
        background: #fff;
        border: 1px solid #beccc2;
        margin: 0 10px;
        border-top: 0;
        margin-bottom: 10px;
        .#{$uiname}-btns{
          margin-left: 65px;
          *margin-left: 55px;
          .aoyou-ml30{
            margin-left: 90px;
          }
        }
        .aoyou-button{
          .aoyou-button-success{
            background-color: #ebf6ec;
            border-color: #2e8c44;
            color: #2e8c44;
            min-width: 60px;
            height: 25px;
          }
          .aoyou-state-default{
            background-color: #ebf6ec;
            border-color: #2e8c44;
            color: #2e8c44;
            min-width: 60px;
            height: 25px;
          }
        }
        .aoyou-button-text{
          line-height: 20px;
          height: 24px;
        }
      }
    }
  }
}



