.aoyou-textbox {
  vertical-align: middle;
  display: inline-block;
  position: relative; }

.aoyou-textbox .aoyou-textbox-fronttitle {
  float: left;
  line-height: 28px;
  margin-right: 5px; }
.aoyou-textbox .aoyou-textbox-lastalert {
  float: right;
  line-height: 28px;
  margin-left: 8px;
  color: #C00; }

.aoyou-textbox-main {
  display: inline-block;
  position: relative;
  line-height: 18px;
  overflow: hidden;
  outline: medium none; }
  .aoyou-textbox-main .aoyou-textbox-input {
    position: relative;
    float: left;
    display: inline;
    margin: 0;
    padding: 3px 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    vertical-align: middle;
    outline: medium none;
    border: 1px solid #d3d3d3; }
    .aoyou-textbox-main .aoyou-textbox-input.aoyou-state-disabled {
      color: #999;
      background-color: whitesmoke;
      border-color: #d9d9d9;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
    .aoyou-textbox-main .aoyou-textbox-input:focus {
      border: 1px solid #288d41; }
  .aoyou-textbox-main .aoyou-textbox-iconbox {
    position: absolute;
    top: 4px;
    right: 5px;
    line-height: 18px;
    height: 18px;
    z-index: 1; }
    .aoyou-textbox-main .aoyou-textbox-iconbox .aoyou-textbox-icon-calendar {
      width: 13px;
      height: 14px;
      display: block;
      background: url("../useimg/icon-calendar.png") no-repeat; }
  .aoyou-textbox-main textarea.aoyou-textbox-input {
    height: 60px;
    resize: none; }
  .aoyou-textbox-main .aoyou-textbox-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3px 5px;
    font-size: 14px;
    z-index: 1;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    cursor: text; }
  .aoyou-textbox-main .aoyou-textbox-suggest {
    position: relative;
    z-index: 1000; }
  .aoyou-textbox-main.aoyou-textbox-disabled {
    background-color: red;
    border-color: blue;
    cursor: default; }
    .aoyou-textbox-main.aoyou-textbox-disabled .aoyou-textbox-input {
      cursor: default;
      background-color: red; }

.aoyou-textbox-error {
  border-color: #ff8888; }
