<!DOCTYPE html>
<html>
    
    <head>
        <title>fileuploader demo 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="../../jquery-1.8.3.min.js"></script>
        <script src="../../webuploader.min.js"></script>
        <script src="../../avalon.js"></script>
        <script>
            avalon.library("aoyou", {
                $ready: function () {
                    avalon.log("控件已经构建完毕")
                }
            })
            require(["./component/fileuploader/avalon.fileuploader"], function () {
                var demoVM = avalon.define({
                    $id: "demo",
                    $opt:{
                        severstr:"http://webuploader.duapp.com/server/fileupload.php"
                    }
                })

                avalon.scan()
            })
        </script>
    </head>
    
    <body ms-controller="demo">
    <aoyou:fileuploader config="$opt"></aoyou:fileuploader>
    </body>

</html>