<div class="aoyou-fileuploader" ms-css-width="uploaderwidth">
    <div class="aoyou-fileuploader-btns">
        <div class="aoyou-fileuploader-picker">{{filepickerstr}}</div>
        <div class="aoyou-fileuploader-uploadstartbtn" ms-click="uploadeClickfunc">{{uploadstartstr}}</div>
    </div>
    <div class="aoyou-fileuploader-lists" ms-if="fileinfolist">
        <ul>
            <li ms-repeat="filelist" ms-class="filelistitem-{{el.fileID}}">
                <div>
                    <span class="fileuploader-lists-filename">{{el.fileName}}{{el.ext}}</span><span class="fileuploader-lists-fileinfo">{{el.uploadinfo}}</span>
                </div>
                <div class="aoyou-fileuploader-progress">
                    <div class="aoyou-fileuploader-progress-bar"></div>
                </div>
            </li>
        </ul>
    </div>
</div>