doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 遨游图库
        meta(name="Keywords" content="")
        meta(name="Description",content="")
        link(rel="stylesheet" type="text/css" href="../css/index.css")
        script(src='../../avalon.js')
        script(src='../js/index.js')
    body(ms-controller="aoyouimage")
        -var  pages = 'detail';
        include head
        .panel
            p 我空间返回房间号

