.mask(ms-visible="isshowmask")
.maskcon(ms-visible="isshowmask")
    aoyou:dialog(config="$imgeditopt")&attributes({'$id':'imgedit'})
    aoyou:dialog.upload(config="$imguploadopt")&attributes({'$id':'imgupload'})








