.header
    .title
        h2 遨游图库
        span.tit1 V2.0
        span.tit2 打造正版旅游图库
    .search
        input.searchtxt(type="text" id="searchtxtid" placeholder="搜索图片名称,关键字...")
        button.searchbtn
        .filter 结果筛选
    .tab
        span.checkall.checked.alignRight 全选
        span.tabimg.thumbnaild
        span.tabimg.lista
        button.uploadbtn.floatRight 上传
        span.download.floatRight.alignRight 打包下载
        span.preview.floatRight.alignRight 图片预览
