.detail-content
    .content
        .detail-top.clearfix
            a.btn-default.floatRight
                i.icon-edit
                | 编辑
            a.return.floatLeft
                i.icon-arrleft
                |返回
        .img-box
            img(src="../images/img.png")
    .content-foot
        h3.title
            i.icon-keyword
            |关键字
        p.block 教堂，欧洲，广场，酒店，梵蒂冈，罗马，意大利
        h3.title
            i.icon-shield
            | 版权申明
        p.article 本图库所有图片，均由中青旅遨游或版权所有人授权发布，我们的图片来源均为正规渠道购买或授权得到。所有图片若未经中青旅遨游或图片所有人同意，不得进行转载或以盈利为目的的使用。如果您侵犯了图片的知识产权，公司有权对其索要侵权赔偿。

.detail-infor
    .infor-content
        p kk
