.detail-infor
    .line
        span.count.floatRight 共上传5983张
        label.labelname 上传者
        span  白雪
    .line
        h3.imgname 皇冠假日罗马圣彼得酒店
    div.img-feature
        ul.list
            li
                label.labelname 图片编号
                span.text-blue 643227743
            li
                label.labelname 类型
                span JPG
            li
                label.labelname 尺寸
                span 1920*1280
            li
                label.labelname 大小
                span 1.6MB
        a.btn-blue.btn-big
            i.icon-down-white
            |下载图片
    .basic-infor
        h3(ms-class="active:baseinfodetail" ms-click="togglebaseinfo")
            i.floatRight.icon-arrow
            i.icon-lists
            |基本信息
        div.img-feature(ms-visible="baseinfodetail")
            ul.list
                li.clearfix
                    label.labelname.floatLeft 图片所属
                    span.w220.floatLeft 欧洲>意大利>罗马>佛罗伦萨
                li
                    label.labelname 修改日期
                    span 2016-03-08 12:07
                li
                    label.labelname 上传日期
                    span 2016-03-07 16:45
                li
                    label.labelname 摄影师
                    span 暂无
                li
                    label.labelname 版权来源
                    span 壹图
                li
                    label.labelname 版权有效期
                    span 永久使用
.detail-content
    .detail-top
        a.btn-default.floatRight(ms-click="edit('imgedit')")
            i.icon-edit
            | 编辑
        a.return.floatLeft
            i.icon-arrleft
            |返回
    .img-box
        img(src="../images/img.png")
    .content-foot
        h3.title
            i.icon-keyword
            |关键字
        p.article 教堂，欧洲，广场，酒店，梵蒂冈，罗马，意大利
        h3.title
            i.icon-shield
            | 版权申明
        p.article 本图库所有图片，均由中青旅遨游或版权所有人授权发布，我们的图片来源均为正规渠道购买或授权得到。所有图片若未经中青旅遨游或图片所有人同意，不得进行转载或以盈利为目的的使用。如果您侵犯了图片的知识产权，公司有权对其索要侵权赔偿。
















