.div(ms-class="{{tablist?'listcontent':'thumbnailcontent'}}" ms-visible="showlist")
    .tabletit
        .back
            span.listcheck
            span.list1 文件名
        span.list2 类型
        span.list2 尺寸
        span.list2 大小
        span.list3 修改日期
    ul.clearfix
        li(ms-repeat='imagedata')
            .back
                span(ms-class-1='{{el.check}}' ms-click='checkimg($index)').listcheck
                span.list1
                    span(ms-visible="tablist") {{el.name}}
                    i.downloadl.floatRight
                    i.deletel.floatRight(ms-click="del($index)")
                    i.editl.floatRight(ms-click="edit($index)")
            span.list2(ms-visible="!tablist") {{el.name}}
            span.list2(ms-visible="tablist") {{el.type}}
            span.list2(ms-visible="tablist") {{el.size}}
            span.list2(ms-visible="tablist") {{el.space}}
            span.list3(ms-visible="tablist") {{el.lastupdate}}
            span.list3(ms-visible="!tablist")
                img(ms-attr-src="el.img" ms-attr-width="el.width" ms-attr-height="el.height" ms-css-margin_Left="{{(170-el.width)/2}}" ms-on-mouseenter="enlarge(1,$index)" ms-on-mouseleave="enlarge(2,$index)")
    .enlarge(ms-visible="showenlarge && enlargeenable" ms-css-top="enlargetop" ms-css-left="enlargeleft" ms-css-height="enlargeheight" ms-css-width="enlargewidth" ms-css-background_image="enlargesrc")
    .backtop(ms-click="backtop")
    .pagerbottom(ms-visible = "showpagerb")
        include pagerb
.noresult(ms-visible="shownoresult")
    img(src="../images/search.png" width="48px" height="48px")
    span 无结果 {{noresulttxt}}
    i 检查您的输入是否正确or修改您的搜索


