.div(ms-class="{{tablist?'listcontent':'thumbnailcontent'}}" ms-visible="showlist")
    .tabletit
        .back
            span.listcheck
            span.list1 文件名
        span.list2 类型
        span.list2 尺寸
        span.list2 大小
        span.list3 修改日期
    ul.clearfix
        li(ms-repeat='imagedata')
            .back
                span(ms-class-1='{{el.check}}' ms-click='checkimg($index)').listcheck
                span.list1
                    span(ms-visible="tablist") {{el.name}}
                    i.downloadl.floatRight
                    i.deletel.floatRight
                    i.editl.floatRight
            span.list2(ms-visible="!tablist") {{el.name}}
            span.list2(ms-visible="tablist") {{el.type}}
            span.list2(ms-visible="tablist") {{el.size}}
            span.list2(ms-visible="tablist") {{el.space}}
            span.list3(ms-visible="tablist") {{el.lastupdate}}
            span.list3(ms-visible="!tablist")
                img(src="../images/img3-4.png" width="120px" height="160px" ms-css-margin_Left="imgMarginLeft")
.noresult(ms-visible="shownoresult")
    img(src="../images/search.png" width="48px" height="48px")
    span 无结果 {{noresulttxt}}
    i 检查您的输入是否正确or修改您的搜索


