.listcontent
    .tabletit
        span.listcheck
        span.list1 文件名
        span.list2 类型
        span.list2 尺寸
        span.list2 大小
        span.list3 修改日期
    ul
        li
            span.listcheck 1
            span.list1 米兰大教堂
            span.list2 JPG
            span.list2 1920*1280
            span.list2 1.6M
            span.list3 2016-08-19 12:07
        li
            span.listcheck 1
            span.list1 文件名
            span.list2 类型
            span.list2 尺寸
            span.list2 大小
            span.list3 修改日期