.seizediv
.pagercontent
    .pagerdiv.floatRight
        aoyou:pager(config="$pageropt")&attributes({'$id':'pager01'})
    .pagerdiv.floatLeft
        span.resultinfo 3689
        span.resultinfo 意大利
        span.resultinfo 图片结果


