aoyou:dialog.upload(config="$imguploadopt")&attributes({'$id':'imgupload','$slot':'content'})
    .dlgulcontent
        .dlgultarget
            span 目标位置
            i 制定要存储文档的目标地理位置标签
            p ../
            span.choose 选择
        .dlgulchoose
            span 上传图片
            i 浏览要上载的图片,支持多选
            br
            button.choosebtn 选择文件
            b 未选择任何文件
        .dlguldetail
            ul
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg
        .dlgulbtn


