aoyou:dialog.upload(config="$imguploadopt")&attributes({'$id':'imgupload','$slot':'content'})
    .dlgulcontent
        .dlgultarget
            span 目标位置
            i 制定要存储文档的目标地理位置标签
            p ../
            .choosefilter(ms-on-mouseenter="filterchooseon($event)" ms-on-mouseleave="filterchooseout")
                span.choose 选择
                .filtertree(ms-visible="filterchoosetoggle")
                    span.sj(ms-css-display="filterchoosesjcss")
                    p 全部
                    .catalog
                        a(href="#").first 返回上一级
                        a(href="#") 总目录
                        b >
                        a(href="#") 欧洲
                        b >
                        a(href="#") 东欧
                        b >
                        a(href="#").current 斯洛伐克
                    .list
                        ul
                            li
                                span
                                i 俄罗斯
                            li
                                span
                                i 匈牙利
                            li
                                span.checked
                                i 捷克
                            li
                                span
                                i 斯洛伐克
                            li
                                span
                                i 波兰
                            li
                                span
                                i 爱沙尼亚
                            li
                                span
                                i 拉脱尾牙
                            li
                                span
                                i 立陶宛

                            li
                                span
                                i 俄罗斯
                            li
                                span
                                i 匈牙利
                            li
                                span
                                i 捷克
                            li
                                span
                                i 斯洛伐克
                            li
                                span
                                i 波兰
                            li
                                span
                                i 爱沙尼亚
                            li
                                span
                                i 拉脱尾牙
                            li
                                span
                                i 立陶宛
        .dlgulchoose
            span 上传图片
            i 浏览要上载的图片,支持多选
            br
            button.choosebtn 选择文件
            b 未选择任何文件
        .dlguldetail
            ul
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg






