aoyou:dialog.upload(config="$imguploadopt")&attributes({'$id':'imgupload','$slot':'content'})
    .dlgulcontent
        .dlgultarget
            span 目标位置
            i 制定要存储文档的目标地理位置标签
            p ../
                a(ms-repeat="treelistnames",ms-visible="$index>0") {{el.name}}/
            .choosefilter(ms-on-mouseenter="filterchooseon($event)" ms-on-mouseleave="filterchooseout")
                span.choose 选择
                .filtertree(ms-visible="filterchoosetoggle")
                    span.sj(ms-css-display="filterchoosesjcss")
                    p 全部
                    .catalog
                        a(href="#",ms-click="changeTree(treelistnames.length-2)").first 返回上一级
                        a(ms-repeat="treelistnames",ms-click="changeTree($index)",ms-class="current:$index==treelistnames.length-1",href="#") <b ms-if="$index>0">>&nbsp;</b>  {{el.name}}
                    .list
                        ul
                            li(ms-repeat="temparr",class="checked")
                                span
                                i(ms-click="clicktree(el.id,el.name,el.pId)") {{el.name}}
        .dlgulchoose
            span 上传图片
            i 浏览要上载的图片,支持多选
            br
            button.choosebtn 选择文件
            b 未选择任何文件
        .dlguldetail
            ul
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg
                li 米兰大教堂.jpg
                li 意大利胶凝冰糕.jpg
                li 科莫湖.jpg
                li 皇冠假日罗马圣彼得酒店.jpg
                li 罗马斗兽场.jpg






