body{
  color:$black;
  font-family: $font_family;
  font-size:$fontnormal;
  overflow-x: hidden;
}
.gray{
  background:$lightgray;
}
.text-blue{
  color: $blue;
}


input, textarea, keygen, select, button{
  color:$black;
  font-family: $font_family;
}