body{
  color:$black;
  font-family: $font_family;
  font-size:$fontnormal;
  padding-bottom:50px;
  //overflow-x: auto;
}
.gray{
  background:$lightgray;
}
.text-blue{
  color: $blue;
}


input, textarea, keygen, select, button{
  color:$black;
  font-family: $font_family;
}