.header{
  .title{
    height:30px;
    padding:8px 20px;
    border-bottom: 1px solid #EEEFF2;

    h2{
      display: inline-block;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 0.46px;
      line-height: 30px;
      margin: 0;
      padding: 0;
    }
    span.tit1{
      bottom:9px;
      font-size: $fontsmall;
      letter-spacing: 0.25px;
      margin-left:5px;
      position: relative;
    }

    span.tit2{
      color:$gray;
      font-size: $fontnormal;
      letter-spacing: 0.29px;
      margin-left:20px;
    }
  }


  .search{
    border-bottom: 1px solid #EEEFF2;
    //border-top:1px solid #EEEFF2;
    height:68px;

    .searchtxt{
      border-width: 0;
      color: black;
      font-size: 24px;
      height: 68px;
      letter-spacing: 0.5px;
      margin: 0 0 0 20px;
      outline: none;
      padding: 0;
      vertical-align: top;
      width: 76%;
    }

    .searchbtn{
      background: url("../images/search1.png") no-repeat;
      display: inline-block;
      height: 69px;
      vertical-align: -27px;
      width: 70px;
      cursor: pointer;

      &:hover{
        background: url("../images/search2.png") no-repeat;
      }
    }

    .filter{
      background: url("../images/filter.png") center right no-repeat;
      display: inline-block;
      font-size: $fontnormal;
      line-height: 29px;
      letter-spacing: 0.29px;
      margin-left: 4%;
      position: relative;
      width: 78px;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;

      span.sj{
        display: none;
        width: 10px;
        height: 10px;
        background: url("../images/sj.png") center no-repeat;
        position: absolute;
        top: 22px;
        right: 5px;
        z-index: 2;
      }

      .filtercontent{
        display: none;
        position: absolute;
        background: white;
        border: 2px solid #DADADA;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
        border-radius: 3px;
        width: 400px;
        max-height: 412px;
        top: 30px;
        right: -30px;
        overflow: auto;



        .div{
          border-bottom: 1px solid #EEEFF2;;
          margin: 20px 20px 0px 20px;
          padding-bottom:15px;
          width:360px;
          cursor: default;

          p{
            font-weight: bold;
            line-height: 25px;
            margin-bottom: 3px;
          }

          .filtercheck{
            width: 100%;
            a{
              font-size: 12px;
              float: left;
              line-height: 25px;
              height: 25px;
              width: 95px;

              em{
                background: url("../images/checkbox1.png") no-repeat center left;
                background-size: 75%;
                width: 20px;
                height: 25px;
                display: inline-block;
                vertical-align: -9px;
                cursor: pointer;
              }
              em.checked{
                background: url("../images/checkbox2.png") no-repeat center left;
                background-size: 75%;
              }
              em.unchecked{
                background: url("../images/checkbox1.png") no-repeat center left;
                background-size: 75%;
              }

            }
          }
        }

        .lastfilter{
          border:0px;
        }
      }
    }
  }


  .tab{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
    height: 50px;

    .checkall{
      background: url('../images/checkbox1.png') center left no-repeat;
      display: inline-block;
      line-height: 20px;
      margin: 15px 20px;
      height: 20px;
      width: 60px;
    }

    .checked{
      background: url('../images/checkbox2.png') center left no-repeat;
    }

    .unchecked{
      background: url('../images/checkbox1.png') center left no-repeat;
    }

    .tabimg{
      background: url('../images/thumbnail-a.png') center no-repeat;
      border-right: 1px solid rgba(0,0,0,0.10);
      display: inline-block;
      height: 49px;
      vertical-align: -20px;
      width: 60px;
      cursor: pointer;
    }

    .thumbnaila{
      background: url('../images/thumbnail-a.png') center no-repeat;
      border-left: 1px solid rgba(0,0,0,0.10);
    }

    .thumbnaild{
      background: url('../images/thumbnail-d.png') center no-repeat;
      border-left: 1px solid rgba(0,0,0,0.10);
    }

    .listd{
      background: url('../images/list-d.png') center no-repeat;
    }

    .lista{
      background: url('../images/list-a.png') center no-repeat;
    }

    .uploadbtn{
      background: #149AF1;
      border-radius: 3px;
      color:white;
      letter-spacing: 0.29px;
      margin:10px 20px;
      height:30px;
      width: 72px;
      cursor: pointer;
      &:hover{
        background: #00A8FF;
      }
    }

    .download{
      background: url("../images/download.png") center left no-repeat;
      margin:15px 0px 15px 20px;
      height: 20px;
      width: 83px;
    }

    .preview{
      background: url("../images/checkbox2.png") center left no-repeat;
      margin:15px 0px 15px 20px;
      height: 20px;
      width: 83px;
    }

  }


  .filterresult{
    height: 36px;
    background: #F5F5F5;

    >span{
      line-height: 36px;
      margin-left: 20px;
      color: red;
      cursor: pointer;
    }

    a{
      background: #B9C1C7;
      border-radius: 3px;;
      margin-left: 10px;
      padding:0 5px;
      color:white;


      i{
        margin-left: 8px;
        display: inline-block;
        height: 8px;
        width: 10px;
        background: url("../images/delicon.png") no-repeat;
        cursor: pointer;
      }
    }
  }
}



