.detail-content{
  float: left;
  width: 70%;
  background-color: #fff;
  .content{
    padding: 10px 20px;
    border-right: 1px solid #EEEFF2;
  }
  .content-foot{
    background: $lightgray;
    padding: 10px 20px;
  }
}
.article{
  padding: 10px 0;
  line-height: 18px;
}
.title{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: $blue;
  font-weight: normal;
  border-bottom: 1px solid #EEEFF2;
  .icon-keyword{
    margin-right: 8px;
  }
}
.detail-infor{
  float: left;
  width: 30%;
  background-color: #fff;
  .labelname{
    display:inline-block;
    width: 90px;
  }
  .imgname{
    font-size: 18px;
    font-weight: normal;
  }
}
.detail-top{
  margin-bottom: 20px;
}
.img-box{
  img{
    width: 100%;
  }
}
.line{
  padding: 0 20px;
  height:60px;
  line-height: 60px;
  border-bottom: 1px solid #EEEFF2;
  .count{
    font-size: 12px;
    color: #999999;
  }

}
.basic-infor{
  border-bottom: 1px solid #EEEFF2;
  h3{
    padding: 0 20px;
    color: #333333;
    font-weight: normal;
    background-color: #F7F8FA;
    height:60px;
    line-height: 60px;
  }
  .icon-lists{
    margin-right: 8px;
  }
  .icon-arrow{
    margin-top: 26px;
  }
}
h3.active{
  color: $blue;
}
.img-feature{
  padding: 0 20px;
  .list{
    padding: 20px 0;
    li{
      line-height: 24px;
    }
  }
}
.return{
  height: 30px;
  line-height: 30px;
  .icon-arrleft{
    margin-right: 8px;
  }
  cursor: pointer;
}
.icon-arrleft{
  display: inline-block;
  width: 9px;
  height: 15px;
  background: url("../images/icons.png") no-repeat 0 -42px;
  vertical-align: middle;
}
.active{
  .icon-arrow{
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("../images/icons.png") no-repeat 0 -82px;
    vertical-align: middle;
  }
  .icon-lists{
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("../images/icons.png") no-repeat 0 -62px;
    vertical-align: middle;
  }
}
.icon-arrow{
  display: inline-block;
  width: 15px;
  height: 8px;
  background: url("../images/icons.png") no-repeat 0 -91px;
  vertical-align: middle;
}
.icon-lists{
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url("../images/icons.png") no-repeat -22px -62px;
  vertical-align: middle;
}
.btn-default{
  .icon-edit{
    margin-right:8px;
  }
}
.icon-edit{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/icons.png") no-repeat -22px -23px;
  vertical-align: middle;
}
.icon-keyword{
  display: inline-block;
  width: 23px;
  height: 17px;
  background: url("../images/icons.png") no-repeat -45px -1px;
  vertical-align: middle;
}
.icon-shield{
  display: inline-block;
  width: 23px;
  height: 18px;
  background: url("../images/icons.png") no-repeat -45px -23px;
  vertical-align: middle;
}
.icon-down-white{
  display: inline-block;
  width: 23px;
  height: 18px;
  background: url("../images/icons.png") no-repeat -22px -81px;
  vertical-align: middle;
}


.btn-default{
  display: inline-block;
  height: 28px;
  padding: 0 16px;
  background-color: #F2F2F2;
  color: #666666;
  font-size: 14px;
  line-height: 28px;
  border: 1px solid #D8DDE1;
  border-radius: 3px;
}
.btn-blue{
  display: inline-block;
  padding: 0 16px;
  height:30px;
  line-height: 30px;
  background-color: $blue;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  &:hover{
    background-color: $hoverblue;
  }
}
.btn-big{
  display: block;
  height:40px;
  line-height: 40px;
}