.panel{
  background: $lightgray;
  width: 100%;

  .seizediv{
    background:white;
    height: 166px;
  }

  .pagercontent{
    margin-top: 8px;
    height: 57px;
    width: 100%;
  }

  .pagerdiv{
    margin-left: 10px;
    width: 324px;

    span.resultinfo{
      line-height: 26px;
      margin-left: 10px;
    }
  }



  .pagershow{
    float: left;
    line-height: 26px;
    margin-right: 10px;
  }
  .pagersel{
    background: #F2F2F2;
    border: 1px solid #DADADA;
    border-radius: 2px;
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 40px;
    cursor: pointer;
    ul{
      display: none;
    }
  }

  .pagersel.on{
    ul{
      position: absolute;
      display: block;
      border: 1px solid #DADADA;

      li{
        background: #F2F2F2;
        height: 24px;
        line-height: 24px;
        width: 39px;
        cursor: pointer;
        &:hover{
          background: #E5E5E5;
        }
      }
    }
  }
}