.floatLeft { float: left; }
.floatRight { float: right; }

.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }

.alignLeft { text-align: left; }
.alignRight { text-align: right; }

$black:#333;
$gray:#666;
$lightgray:#F7F8FA;
$blue:#149AF1;
$fontsmall:12px;
$fontnormal:14px;
$fontbig:16px;